*{
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    font-family: 'League Spartan', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.wrapper{
    width: 319px;
    height: 478px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.13);
}

.container{
    padding-right: 33px;
    padding-bottom: 24px;
}

.cont__img-img{
    width: 310px;
    height: 301px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    padding-left: 33px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.desc__text{
    padding-left: 33px;
    text-align: left;
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 12px;
}

.desc__buy{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.buy__price{
    padding-left: 33px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.buy__buttom{
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background-color: #ffbf42;
    color: #000;
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
}
